<div class="row">
    <div class="col-md-4 mt-4" *ngFor="let post of postArr; trackBy : trackByPostId">
        <mat-card>
            <mat-card-title>{{post.title}}</mat-card-title>
            <mat-card-content>
                <strong [ngClass]="{
                    'text-success': post.isCompleted,
                    'text-danger' : !post.isCompleted
                }">
                {{post.isCompleted ? 'Completed' : 'Not Completed'}}
                </strong>
                <p>{{post.content}}</p>
                <mat-card-actions class="d-flex justify-content-between">
                    <button (click)="onEdit(post)" mat-raised-button color="primary">Edit</button>
                    <button (click)="onRemove(post.postID)" mat-raised-button color="warn">Remove</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>